---

- name: Update cache and Upgrade all dist packages to latest
  apt:
    update_cache: yes
    upgrade: dist

- name: Install packages needed for openstack setup
  apt:
    name: "{{ item }}"
    state: installed
  with_items:
    - software-properties-common
    - python-openstackclient
    - ubuntu-cloud-keyring

- name: Add repo `mitaka`
  apt_repository:
    repo: "deb http://ubuntu-cloud.archive.canonical.com/ubuntu trusty-updates/mitaka main"
    state: present

- name: update and upgrade after openstack cloud-archive
  apt:
    update_cache: yes
    upgrade: dist
