---

- name: Ensure MySQL Python libraries are installed.
  apt:
    name: "{{ item }}"
    state: installed
  with_items: "{{ mysql_apt_python_libs }}"

- name: Install mysql packages
  apt:
    name: "{{ item }}"
    state: installed
  with_items: "{{ mysql_apt_packages }}"

# Note: We do not use mysql_user for this operation, as it doesn't always update
# the root password correctly. See: https://goo.gl/MSOejW
- name: Update MySQL root password for localhost root account (< 5.7.x)
  shell: >
    mysql -NBe
    'SET PASSWORD FOR "root"@"{{ item }}" = PASSWORD("{{ mysql_root_password }}");'
  with_items:
    - "{{ ansible_hostname }}"
    - 127.0.0.1
    - ::1
    - localhost
  ignore_errors: true

- name: configure mysql installation for openstack
  template:
    src: mysql_openstack.cnf
    dest: /etc/mysql/conf.d/openstack.cnf
  notify: restart mysql
