---
# handlers file for bootstrap_openstack

- name: restart mysql
  service:
    name: "{{ mysql_service_name }}"
    state: restarted
  become: yes
  register: _restart
  until: _restart | success
  retries: 5
  delay: 2

- name: restart memcached
  service:
    name: memcached
    state: restarted
  become: yes
  register: _restart
  until: _restart | success
  retries: 5
  delay: 2

- name: restart apache
  service:
    name: apache2
    state: restarted
  become: yes
  register: _restart
  until: _restart | success
  retries: 5
  delay: 2
