[DEFAULT]
log_dir = {{ keystone_log_dir }}
admin_token = {{ keystone_admin_token }}

[database]
connection = {{ keystone_db_connection_string }}

[token]
provider = fernet

[extra_headers]
Distribution = Ubuntu
